:root {
  --primary: #d81e5b;
  --secondary: #d91fcf;
  --dark: #1f1c1f;
  --light: #e3d9e3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: var(--light);
}
h2{
  text-align: center;
padding-top: 60px;
    min-height: 10vh;

}

.app {
  display: flex;
    min-height: 90vh;

  align-items: center;
  justify-content: center;
}
.calculator {
  width: 100%;
  max-width: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 10px #1f1c1f;
  overflow: hidden;
}
.display {
  color: var(--light);
  padding: 20px;
  text-align: right;
  background-color: var(--dark);
  font-size: 25px;
  font-weight: 300;
}
span {
  color: #858185;
  font-size: 15px;
}
button {
  appearance: none;
  border: none;
  outline: none;
  color:var(--light);
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
button:hover{
 opacity: 0.9;
}
.operator{
 display: flex;

}
.operator button{
 flex: 1 1 0%;
 background-color: var(--secondary);
 font-weight: 700;
}

.digits{
 display: flex;
 flex-wrap: wrap;
}
.digits button{
 flex: 1 1 33.333%;
 max-width: 33.333%;
 background-color:var(--dark) ;
}